[submodule "jjb/global-jjb"]
	path = jjb/global-jjb
	url = https://gerrit.linuxfoundation.org/infra/releng/global-jjb
[submodule "packer/lf-ansible"]
	path = packer/lf-ansible
	url = https://github.com/lfit/releng-lf-ansible
[submodule "packer/packer/common-packer"]
	path = packer/packer/common-packer
	url = https://github.com/lfit/releng-common-packer
