---
- name: Create Extlibs
  file:
    path: '{{ extlibs }}'
    state: directory
- name: Install Boost
  block:
    - name: Swap - Create File
      command: dd if=/dev/zero of={{ swap_file }} bs=1M count={{ swap_file_size_mb }}
      args:
        creates: '{{ swap_file }}'
    - name: Swap - Set Permissions
      file:
        path: '{{ swap_file }}'
        owner: root
        group: root
        mode: 0600
    - name: Swap - Get filetype
      command: 'file {{ swap_file }}'
      register: swapfile
    - name: Swap - Mkswap
      command: 'mkswap {{ swap_file }}'
      when: swapfile.stdout.find('swap file') == -1
    - name: Swap - Enable
      command: 'swapon {{ swap_file }}'
      when: ansible_swaptotal_mb < swap_file_size_mb
    - name: Create Boost Directory
      file:
        path: '{{ boost_dir }}'
        state: directory
    - name: Download Boost
      get_url:
        url: '{{ boost_url }}'
        dest: '{{ boost_dir }}'
    - name: Unzip Boost
      unarchive:
        src: '{{ boost_dir }}/{{ boost_version }}.zip'
        dest: '{{ boost_dir }}'
        creates: '{{ boost_dir }}/{{ boost_version }}'
        remote_src: true
    - name: Bootstrap Boost
      command: ./bootstrap.sh --with-libraries=system,filesystem,date_time,thread,regex,log,iostreams,program_options,atomic
      args:
        chdir: '{{ boost_dir }}/{{ boost_version }}'
        creates: '/usr/local/include/boost'
    - name: Install Boost to System
      command: ./b2 -j4 install
      args:
        chdir: '{{ boost_dir }}/{{ boost_version }}'
        creates: '/usr/local/lib/libboost*'
      register: boost_installed
    - name: Reload Dynamic Linking
      command: ldconfig
      when: boost_installed
- name: Expat
  block:
    - name: Create Expat Directory
      file: path='{{ extlibs }}/expat' state=directory
    - name: Download Expat
      unarchive:
        src: '{{ expat_url }}/{{ expat_version }}.orig.tar.gz'
        dest: '{{ extlibs }}/expat/'
        creates: "{{ extlibs }}/expat/expat-{{ expat_version | regex_replace('_','-') }}"
        remote_src: true
- name: Hippomocks
  block:
    - name: Create Hippomocks Directory
      file: path='{{ extlibs }}/hippomocks' state=directory
    - name: Download Hippomocks Versions
      unarchive:
        src: '{{ hippomocks_url }}/v{{ hippomocks_version }}.zip'
        dest: '{{ extlibs }}/hippomocks/'
        creates: '{{ extlibs }}/hippomocks/hippomocks-{{ hippomocks_version }}'
        remote_src: true
- name: Gtest
  block:
    - name: Create Gtest Directory
      file: path='{{ extlibs }}/gtest' state=directory
    - name: Download Gtest Versions
      unarchive:
        src: '{{ gtest_url }}/release-{{ item }}.zip'
        dest: '{{ extlibs }}/gtest/'
        creates: '{{ extlibs }}/gtest/gtest-{{ item }}'
        remote_src: true
      with_items: '{{ gtest_versions }}'
- name: TinyCBOR
  block:
    - name: Create TinyCBOR Directory
      file: path='{{ extlibs }}/tinycbor' state=directory
    - name: Download TinyCBOR Versions
      unarchive:
        src: '{{ tinycbor_url }}/v{{ item }}.zip'
        dest: '{{ extlibs }}/tinycbor/'
        creates: '{{ extlibs }}/tinycbor/tinycbor-{{ item }}'
        remote_src: true
      with_items: '{{ tinycbor_versions }}'
- name: SQLite
  block:
    - name: Create SQLite Directory
      file: path='{{ extlibs }}/sqlite3' state=directory
    - name: 'Download SQLite {{ sqlite_version }}'
      # This looks for sqlite3.c as the unpacked dir will be removed later on
      unarchive:
        src: '{{ sqlite_url }}'
        dest: '{{ extlibs }}/sqlite3/'
        creates: '{{ extlibs }}/sqlite3/sqlite3.[ch]'
        remote_src: true
    - name: Move SQLite Files
      copy:
        dest: '{{ extlibs }}/sqlite3/'
        src: '{{ extlibs }}/sqlite3/{{ sqlite_version }}/{{ item }}'
        remote_src: true
      with_items:
        - sqlite3.c
        - sqlite3.h
    - name: Remove extra SQLite Files
      file: path={{ extlibs }}/sqlite3/{{ sqlite_version }} state=absent
- name: YAML CPP
  git:
    repo: https://github.com/jbeder/yaml-cpp.git
    dest: '{{ extlibs }}/yaml/yaml'
    version: master
- name: RAXMPP
  git:
    repo: https://gerrit.iotivity.org/gerrit/iotivity-xmpp
    dest: '{{ extlibs }}/raxmpp/raxmpp'
    version: master
- name: mbedtls
  git:
    repo: https://github.com/ARMmbed/mbedtls
    dest: '{{ extlibs }}/mbedtls/mbedtls'
    version: mbedtls-2.4.2
- name: libcoap
  git:
    repo: https://github.com/dthaler/libcoap
    dest: '{{ extlibs }}/libcoap/libcoap'
    version: IoTivity-1.2.1d
- name: Gerrit Projects
  git:
    repo: 'https://gerrit.iotivity.org/gerrit/p/{{ item }}.git'
    dest: '{{ extlibs }}/gerrit/{{ item }}'
    version: master
  with_items:
    - iotivity
    - iotivity-alljoyn-bridge
    - iotivity-constrained
    - iotivity-contrib
    - iotivity-node
    - iotivity-test
    - iotivity-upnp-bridge
    - iotivity-voice
    - iotivity-xmpp
- name: Kernel dump
  command: sysctl -w kernel.core_pattern=%e-%t-SIG%s.core
